**
!package.json
!package.nls.json
!package.nls.pl.json
!l10n/**
!README.md
!dist/extension.js
!dist/webview.js
!dist/webview.css
!media/elk-worker.min.js
!resources/opm.svg
!resources/icon.png
!schema/opm-model.schema.json
